@import './../../styles/mixins.scss';

.forgot {
    &__container {
        @include center-content();
        padding: 0 16px;
        overflow: hidden;
        background-color: #F9F9F9;
    }

    &__content {
        width: calc(min(100%, 540px));
        margin: 190px auto 0 auto;
    }

    &__form {
        box-shadow: 0 8px 16px rgba(227, 0, 15, 0.04);
    }


    &__title {
        margin-bottom: 16px;
    }

    &__subtitle {
        margin-bottom: 24px;
    }

    &__email {
        margin-bottom: 16px;
    }

    &__buttons {
        @include flex(row, space-between, center);

        @media screen and (max-width: 450px) {
            margin-top: 24px;
            @include flex(column, space-between, stretch);
            gap: 16px;
        }
    }


}