$black: #141414;

$transparent-gray: #E5E5E5;
$gray: #808080;
$middle-gray: #DCDCDC;
$light-gray: #F5F5F5;
$bg-gray: #F9F9F9;

$white: #ffffff;

$green: #28A745;

$red: #DC3545;

$orange: #F46604;

$light-blue: #17A2B8;
$blue: #0D6EFD;