@import './../../styles/mixins.scss';

.change {
    &__container {
        @include center-content();
        padding: 0 16px;
        overflow: hidden;
        background-color: #F9F9F9;
    }

    &__content {
        width: calc(min(100%, 540px));
        margin: 190px auto 0 auto;
    }


    &__title {
        margin-bottom: 16px;
    }

    &__subtitle {
        margin-bottom: 24px;
    }

    &__email {
        margin-bottom: 16px;
    }

    &__buttons {
        @include flex(row, flex-end, center);
    }    
}